---
import {
  tillPhaseThreeEnd,
  tillPhaseThreeStart,
  tillPhaseTwoStart,
} from "@/app-info";
import BaseHead from "@/components/BaseHead.astro";
import TimeDiff from "@/components/TimeDiff";
import { createProps, type PageProps } from "@/lib/page-info";

const props: PageProps = createProps({
  title: "gatsby",
  description:
    "we got big plans :3 but they will take time, hence these countdowns",
  image: "banner.png",
});
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body class="center">
    <main>
      <h1>artimora - operation: gatsby</h1>
      <p>we got big plans :3 but they will take time, hence these countdowns</p>
      <ul>
        <li>
          <p>links</p>
          <ul>
            <li>
              <a href="https://artimora.dev/" target="_blank">homepage</a>
              <li>
                <a href="https://github.com/artimora/gatsby" target="_blank"
                  >source</a
                >
              </li>
            </li>
          </ul>
          <li>
            <p>countdowns</p>
            <ul>
              <li>
                start of phase two: <b>
                  <TimeDiff time={tillPhaseTwoStart} client:only />
                </b>
              </li>
              <li>
                start of phase three: <b>
                  <TimeDiff time={tillPhaseThreeStart} client:only />
                </b>
              </li>
              <li>
                end of phase three: <b>
                  <TimeDiff time={tillPhaseThreeEnd} client:only />
                </b>
              </li>
            </ul>
          </li>
        </li>
      </ul>
    </main>
  </body>
</html>
