---
import {
  tillPhaseThreeEnd,
  tillPhaseThreeStart,
  tillPhaseTwoStart,
} from "@/app-info";
import BaseHead from "@/components/BaseHead.astro";
import TimeDiff from "@/components/TimeDiff";
import { createProps, type PageProps } from "@/lib/page-info";

const props: PageProps = createProps({
  title: "gatsby",
  description:
    "we got big plans :3 but they will take time, hence these countdowns",
  image: "banner.png",
});
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body>
    <main class="center">
      <h1>artimora - operation: gatsby</h1>
      <p>we got big plans :3 but they will take time, hence these countdowns</p>

      <ul>
        <li>
          <p>start of phase two</p>
          <ul>
            <li>
              <TimeDiff time={tillPhaseTwoStart} client:only />
            </li>
          </ul>
        </li>
        <li>
          <p>start of phase three</p>
          <ul>
            <li>
              <TimeDiff time={tillPhaseThreeStart} client:only />
            </li>
          </ul>
        </li>
        <li>
          <p>end of phase three</p>
          <ul>
            <li>
              <TimeDiff time={tillPhaseThreeEnd} client:only />
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
</html>
