---
import {
  tillPhaseThreeEnd,
  tillPhaseThreeStart,
  tillPhaseTwoStart,
} from "@/app-info";
import BaseHead from "@/components/BaseHead.astro";
import TimeDiff from "@/components/TimeDiff";
import { createProps, type PageProps } from "@/lib/page-info";

const props: PageProps = createProps({
  title: "gatsby",
  description:
    "we got big plans :3 but they will take time, hence these countdowns",
  image: "banner.png",
});
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body>
    <main class="center">
      <h1>artimora - operation: gatsby</h1>
      <p>we got big plans :3 but they will take time, hence these countdowns</p>
      <ul>
        <li>
          <p>socials</p>
          <ul>
            <li>
              <a href="https://x.com/artimorastudios">twitter</a>
            </li>
            <li>
              <a href="https://www.instagram.com/artimorastudios/">instagram</a>
            </li>
            <li>
              <a href="https://github.com/artimora">github</a>
            </li>
            <li>
              <a href="mailto:contact@artimora.dev">email</a>
            </li>
            <li>
              <a href="https://modrinth.com/organization/artimora">modrinth</a>
            </li>
          </ul>
        </li>
        <li>
          <p>countdowns</p>
          <ul>
            <li>
              start of phase two: <TimeDiff
                time={tillPhaseTwoStart}
                client:only
              />
            </li>
            <li>
              start of phase three: <TimeDiff
                time={tillPhaseThreeStart}
                client:only
              />
            </li>
            <li>
              end of phase three: <TimeDiff
                time={tillPhaseThreeEnd}
                client:only
              />
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
</html>
